
#page-desktop {
    background: url(/files/vector-wallpaper12.jpg) center center;
    background-attachment: fixed;
    background-size: cover;
    #icon-grid {
        padding-top: 15px;
        padding-bottom: 30px;
        max-width: 970px;
        margin: auto;
    }
}

